@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap");
.flex-center {
  place-content: center;
  place-items: center;
  display: flex;
  gap: 15px;
}
.flex-center-y {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 15px;
}
.flex-center-x {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.flex-container {
  display: flex;
}
.flex-container.space-between {
  justify-content: space-between;
}

.bg-secondary {
  background: var(--secondary);
  color: var(--text-on-secondary);
}

.bg-primary-accent {
  background: #000;
  color: var(--text-on-primary);
}

.pd-5 {
  padding: 5px;
}

.pd-15 {
  padding: 15px;
}

.separator {
  display: block;
}
.separator.rem--2 {
  padding-top: 2rem;
}
.separator.rem--1 {
  padding-top: 1rem;
}
.separator.rem--3 {
  padding-top: 3rem;
}
.separator.rem--4 {
  padding-top: 4rem;
}

:root {
  font-weight: lighter;
}

a {
  text-decoration: none !important;
}

h1,
.h1,
h2,
.h2 {
  color: var(--text-title-color);
  font-weight: normal;
  margin: 0;
}

h1,
.h1 {
  font-size: 2.7rem;
  line-height: 54px;
  letter-spacing: 0.43px;
  margin: 0 0 2rem;
}

h2,
.h2 {
  font-size: 2.25rem;
  line-height: 54px;
  letter-spacing: 0.43px;
  margin: 2rem 0;
}

h3,
.h3 {
  font-size: 1.5rem;
  font-weight: normal;
}
h3 small,
.h3 small {
  display: grid;
  font-size: 1rem;
}

h3,
h4 {
  color: var(--text-color);
}

.pretitle-h1 {
  font-size: 1.65rem;
  line-height: 30px;
  color: var(--app-primary-color);
  letter-spacing: -0.26px;
}

figure {
  margin: 0;
  padding: 0;
}

.pretitle-h2 {
  font-size: 1.4rem;
  color: var(--app-primary-color);
}

.pretitle-h3 {
  font-size: 0.9rem;
  line-height: 54px;
  letter-spacing: 0.43px;
  color: var(--app-primary-color);
}
.pretitle-h3 + h3 {
  margin-top: 0;
  padding-top: 0;
}

.p1 {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 24px;
}

.p2, p,
ul,
li {
  font-size: 1rem;
  letter-spacing: 0.32px;
  font-weight: lighter;
  line-height: 24px;
}

ul li {
  padding: 0.25rem;
}

.primary-color {
  color: var(--primary) !important;
}

.secondary-color {
  color: var(--secondary) !important;
}

.subtitle {
  font-size: 18px;
}

.t3 {
  font-size: 13px;
  text-transform: uppercase;
}

.secondary-accent {
  color: var(--secondary-accent);
}

@media (max-width: 600px) {
  h1,
  .h1 {
    font-size: 2.4rem;
  }
  h2,
  .h2 {
    font-size: 2.05rem;
  }
  h2,
  .h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
.mt-15 {
  margin-top: 15px !important;
  margin-bottom: 15px;
}

.container--md {
  max-width: 900px;
  margin: auto;
}

.container,
.container--800 {
  margin: auto;
  padding: 15px;
  width: calc(100% - 30px);
  max-width: 1376px;
}
.container--800,
.container--800--800 {
  max-width: 800px;
  margin: auto;
}
.container.grid-container,
.container--800.grid-container {
  display: grid;
  grid-gap: 2rem;
}
.container.no-pd,
.container--800.no-pd {
  padding: 0;
  width: 100%;
}
.container.no-mv,
.container--800.no-mv {
  margin: 0 auto;
}
.container.pd-x2,
.container--800.pd-x2 {
  padding: 2rem;
}
.container.two-columns, .container.three-columns,
.container--800.two-columns,
.container--800.three-columns {
  grid-template-columns: 1fr;
}
@media (min-width: 481px) {
  .container.two-columns,
  .container--800.two-columns {
    grid-template-columns: 1fr 1fr;
  }
  .container.three-columns,
  .container--800.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .container,
  .container--800 {
    padding: 15px;
    width: calc(100% - 30px);
  }
}

.accent {
  color: var(--accent-color) !important;
}

ul {
  padding: 0;
  margin: 0;
}

.content-container {
  display: grid;
  grid-gap: 2rem;
  padding: 0;
}
.content-container .two-columns,
.content-container .three-columns {
  grid-template-columns: 1fr;
  grid-gap: 2rem;
}
@media (min-width: 481px) {
  .content-container {
    margin: 2rem auto;
  }
  .content-container.two-columns {
    grid-template-columns: 1fr 1fr;
  }
  .content-container.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}