.separator {
  display: block;
}
.separator.rem--2 {
  padding-top: 2rem;
}
.separator.rem--1 {
  padding-top: 1rem;
}
.separator.rem--3 {
  padding-top: 3rem;
}
.separator.rem--4 {
  padding-top: 4rem;
}

.accent {
  color: var(--accent-color) !important;
}

ul {
  padding: 0;
  margin: 0;
}

.content-container {
  display: grid;
  grid-gap: 1rem;
  padding: 0;
}
.content-container .two-columns,
.content-container .three-columns {
  grid-template-columns: 1fr;
}
@media (min-width: 481px) {
  .content-container {
    margin: 2rem auto;
  }
  .content-container.two-columns {
    grid-template-columns: 1fr 1fr;
  }
  .content-container.three-columns {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
/**
 p : primary
 s : secondary
 l : light
 d : dark
 g : gradient
 */
.text-plg {
  background: var(--app-primary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-sdg {
  background: var(--app-primary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-slg {
  background: var(--app-primary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-pdg {
  background: var(--app-primary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}