.cards__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;
}
.cards__container .accent {
  color: var(--accent-color);
}
.cards__container .docs__card {
  text-decoration: none;
  background: var(--app-element-surface);
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-items: center;
  border: var(--app-element-border-color-1) 1px solid;
  border-radius: var(--border-radius-base);
  justify-content: space-between;
  transition: all 200ms ease-in;
  padding-top: 1.5rem;
}
.cards__container .docs__card .beyond-element-image {
  display: flex;
  justify-items: center;
  text-align: center;
  justify-content: center;
}
.cards__container .docs__card .beyond-element-image img {
  height: 50px;
  aspect-ratio: 1/1;
}
.cards__container .docs__card header {
  width: 100%;
}
.cards__container .docs__card header .beyond-element-image {
  padding: 1rem 1.5rem;
}
.cards__container .docs__card header h3 {
  border-left: 1px solid var(--primary);
  text-align: center;
  padding: 0.5rem 1rem;
}
.cards__container .docs__card section {
  padding: 0 1.5rem 1.5rem;
}
.cards__container .docs__card:hover {
  background: var(--app-element-hover-surface);
}
.cards__container .docs__card:hover .beyond-element-image, .cards__container .docs__card:hover section {
  padding-left: 1rem;
  padding-right: 3rem;
  transition: 300ms ease-in all;
}
.cards__container .docs__card:hover h3 {
  padding: 0.5rem 1rem;
  transition: 300ms ease-in all;
  width: calc(100% - 2rem);
}
@media (max-width: 1000px) and (min-width: 601px) {
  .cards__container .docs__card {
    display: grid;
    grid-template-columns: 30% auto;
    grid-gap: 2rem;
  }
  .cards__container .docs__card header {
    display: grid;
    align-content: center;
    justify-items: center;
  }
  .cards__container .docs__card header h3 {
    width: 100%;
    font-size: 1.2rem;
  }
}
@media (max-width: 1000px) {
  .cards__container {
    grid-auto-flow: row;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .cards__container {
    grid-gap: 1rem;
  }
}
@media (min-width: 1000px) {
  .cards__container .docs__card header h3, .cards__container .docs__card header .beyond-element-image {
    display: flex;
    text-align: left;
    padding: 0.5rem 2rem;
    justify-content: start;
    justify-items: start;
  }
}
.main__home__content, .home__header {
  min-width: 100%;
}
@media (min-width: 900px) {
  .main__home__content .container, .home__header .container {
    max-width: 1146.6666666667px;
  }
}
.clipboard__container {
  border: 1px solid var(--secondary-light);
  padding: 1rem;
  border-radius: var(--border-radius-base);
  display: inline-flex;
  justify-content: space-between;
  gap: 3rem;
  cursor: pointer;
  color: var(--secondary-light);
  position: relative;
}
.clipboard__container svg {
  fill: var(--secondary-light);
}
.clipboard__container .action-copied {
  position: absolute;
  top: -1.4rem;
  right: -20%;
  padding: 0.5rem;
  background: rgba(0, 0, 0, 0.7);
  border-radius: var(--border-radius-base);
  color: var(--text-on-primary);
  font-size: 0.6rem;
  transition: all 300ms linear;
  display: none;
}
.clipboard__container .action-copied.show {
  display: inline-flex;
  animation: fadeIn 300ms;
}
.clipboard__container .action-copied.hide {
  animation: fadeOut 300ms;
}
@media (max-width: 600px) {
  .clipboard__container {
    margin-top: 1.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.is-floating, .header__animation__container .header__animation__front {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  15% {
    transform: translate(-5px, -5px);
  }
  30% {
    transform: translate(-5px, 0px);
  }
  60% {
    transform: translate(0px, 5px);
  }
  90% {
    transform: translate(5px, 0);
  }
  to {
    transform: translate(0, 0px);
  }
}
.header__animation__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.header__animation__container svg {
  max-width: 90%;
  margin: auto;
}
.home__header {
  padding: 2rem 0;
}
.home__header > .container {
  display: grid;
  grid-template-columns: 55% 1fr;
  position: relative;
  aspect-ratio: 16/7;
  margin: 1rem auto auto;
  grid-gap: 30px;
  align-items: center;
  justify-content: space-between;
  font-family: var(--header-font);
}
@media (min-width: 600px) {
  .home__header .visible-mobile {
    display: none;
  }
}
@media (max-width: 800px) {
  .home__header {
    aspect-ratio: 9/16;
    align-items: center;
    justify-items: center;
  }
  .home__header > .container {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 0;
    justify-content: center;
  }
}
@media (max-width: 900px) and (min-height: 600px) {
  .home__header {
    aspect-ratio: 16/4;
    max-height: 700px;
  }
}

.home__header .beyond__icon, .home__header .beyond__surface-icon {
  position: absolute;
  height: 100%;
  right: -50px;
  top: -25%;
  z-index: -1;
}
.home__header .beyond__icon svg, .home__header .beyond__surface-icon svg {
  height: 250%;
  top: -30%;
}
@media (max-width: 1200px) {
  .home__header .beyond__icon svg, .home__header .beyond__surface-icon svg {
    height: 230%;
    top: 0;
  }
}
@media (max-width: 600px) {
  .home__header {
    padding-bottom: 0;
  }
  .home__header .beyond__icon, .home__header .beyond__surface-icon {
    top: -10%;
    left: -15%;
    position: absolute;
  }
  .home__header .beyond__icon svg, .home__header .beyond__surface-icon svg {
    height: 100%;
  }
}

header.home__header .header__content {
  max-width: 700px;
}
header.home__header .header__content .main__title {
  padding: 4rem 0 2rem;
}
header.home__header .header__content .pre__title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-rubik);
  color: var(---primary-light-color-e58165);
}
header.home__header .header__content h1 {
  margin: 5px 0;
  text-align: left;
  font-family: var(--title-font);
  color: var(--text-color);
  opacity: 1;
}
header.home__header .header__content h1 .special-text {
  display: inline-flex;
  color: var(--app-accent-color);
  position: relative;
}
@media (max-width: 800px) {
  header.home__header .header__content h1 .special-text {
    font-size: 2.2rem;
  }
}
header.home__header .header__content h1 .special-text:after {
  position: absolute;
  content: " ";
  bottom: 0;
  width: calc(100% - 20px);
  left: 10px;
  right: 10px;
  background: var(--app-accent-color);
  height: 2px;
}
header.home__header .header__content .header__description {
  font-size: 1.3rem;
}
@media (max-width: 600px) {
  header.home__header .header__content h1 {
    text-align: center;
  }
  header.home__header .header__content h1 .special-text {
    display: flex;
    justify-content: center;
  }
  header.home__header .header__content h1 .special-text:after {
    display: none;
  }
  header.home__header .header__content .main__title {
    padding-bottom: 0;
  }
}
header.header__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 1rem auto;
}
header.header__section h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 1rem;
}
header.header__section .subtitle {
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 480px) {
  header.header__section {
    margin: 1rem auto;
  }
  header.header__section h3 {
    font-size: 1.5rem;
  }
}
.link-more {
  display: flex;
  align-self: end;
  margin-top: 1rem;
  text-decoration: none;
  transition: all 150ms linear;
}
.link-more:hover {
  margin-right: 10px;
  font-weight: bolder;
}
.page-section {
  margin: 2rem auto;
  padding: 2rem;
  width: calc(100% - 4rem);
}
.page-section.primary-surface {
  background: var(--app-element-surface);
}
.page-section.primary-surface .pretitle {
  color: var(--secondary-light);
}
.page-section .flex-center-v {
  align-items: center;
  display: flex;
}
.page-section h3 {
  padding: 0;
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
}
@media (max-width: 600px) {
  .page-section {
    padding: 2rem 1rem;
    width: calc(100% - 2rem);
  }
}

.debug {
  border: 1px solid red;
}
.realtime-section .top-img .beyond-element-image {
  min-height: 150px;
}
.realtime-section .top-img .beyond-element-image img {
  object-fit: contain;
  min-height: 150px;
  object-position: center;
}
@media (max-width: 600px) {
  .realtime-section .top-img {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
  .realtime-section .content {
    padding-top: 0 !important;
  }
}
.docs-home-slider {
  padding: 4rem 0;
}
.docs-home-slider .beyond-element-image {
  position: relative;
  aspect-ratio: 4/3;
}
.docs-home-slider .beyond-element-image img {
  width: 100%;
}
.docs-home-slider .swiper-slide {
  transition: all 200ms linear;
}
.docs-home-slider .swiper-slide-active {
  transform: scale(1.2);
  transition: all 200ms linear;
  z-index: 10;
}
@media (min-width: 400px) {
  .docs-home-slider .swiper-slide-active {
    transform: scale(1.5);
  }
}
.main__home__content {
  z-index: 2;
}

a {
  color: var(--app-link-color);
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
  position: relative;
}
a:not(.link-more) {
  text-underline-offset: 1.5px;
  text-decoration: underline;
}
a:hover {
  color: var(--app-link-hover-color);
}

.text-center {
  text-align: center;
}

.banner__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.banner__icons .beyond-icon {
  height: 45px;
  width: 45px;
}
@media (max-width: 480px) {
  .banner__icons .beyond-icon {
    height: 50px;
    width: 50px;
  }
}

.mv-200 {
  margin: 14rem auto;
}
@media (min-width: 320px) {
  .mv-200 {
    margin: 7rem auto;
  }
}

.page__footer {
  padding: 2rem;
  border-top: 1px solid var(--app-element-border-color-1);
  width: calc(100% - 4rem);
  max-width: 1376px;
  margin: auto;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

.technologies__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1rem;
}
@media (max-width: 600px) {
  .technologies__section {
    grid-template-columns: 60% 1fr;
  }
}

.pre__title {
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

