@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400&display=swap");
:root {
  --font-family: 'Inter', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;
  --title-font: 'Roboto', sans-serif;
  --gray-base: #000000;
  --gray-darker: #333333;
  --gray-dark: #5E5F5C;
  --gray: #82837F;
  --gray-light: #E4E5DC;
  --success: #6AAC7D;
  --warning: #F7C700;
  --error: #f04141;
  --chat-online: #43fc22;
  --preload: $secondary;
  --primary: #FF8056;
  --primary-dark: #E36152;
  --primary-light: #FFA789;
  --primary-accent: #FFA789;
  --text-on-primary: #fff;
  --secondary: #121F36;
  --secondary-dark: #121F36;
  --secondary-light: #313C50;
  --secondary-accent: #F7C700;
  --text-on-secondary: #FFFFFF;
  --secondary-background: rgba(255, 167, 137, 0.3);
  --background: #fff;
  --text-color: #5E5F5C;
  --text-title-color: var(--secondary-dark);
  --text-second-color: var(--gray-dark);
  --text-hover-color: var(--primary);
  --bg-element: var(--gray-light);
  --element-bg: var(--gray-light);
  --element-border-color: var(--gray-light);
  --separator-color: var(--gray-darker); }
  @media (prefers-color-scheme: dark) {
    :root {
      --primary: #FF8056;
      --primary-dark: #E36152;
      --primary-light: #FFA789;
      --primary-accent: #E36152;
      --text-on-primary: #fff;
      --accent-color: #FFA385;
      --secondary: #121F36;
      --secondary-dark: #121F36;
      --secondary-darker: #0C1525;
      --secondary-light: #313C50;
      --secondary-accent: #F7C700;
      --text-on-secondary: #FFFFFF;
      --secondary-background: rgba(49, 60, 80, 0.8);
      --background: linear-gradient(#121f36, #050910);
      --text-color: rgba(255, 255, 255, .6);
      --text-title-color: var(--text-on-primary);
      --text-second-color: var(--gray-dark);
      --text-hover-color: var(--primary);
      --bg-element: var(--secondary-dark);
      --element-border-color: var(--gray-light);
      --separator-color: var(--gray-lighter); } }

html[data-beyond-mode="light"] {
  --primary: #FF8056;
  --primary-dark: #E36152;
  --primary-light: #FFA789;
  --primary-accent: #FFA789;
  --text-on-primary: #fff;
  --secondary: #121F36;
  --secondary-dark: #121F36;
  --secondary-light: #313C50;
  --secondary-accent: #F7C700;
  --text-on-secondary: #FFFFFF;
  --secondary-background: rgba(255, 167, 137, 0.3);
  --background: #fff;
  --text-color: #5E5F5C;
  --text-title-color: var(--secondary-dark);
  --text-second-color: var(--gray-dark);
  --text-hover-color: var(--primary);
  --bg-element: var(--gray-light);
  --element-bg: var(--gray-light);
  --element-border-color: var(--gray-light);
  --separator-color: var(--gray-darker); }

html[data-beyond-mode="dark"] {
  --primary: #FF8056;
  --primary-dark: #E36152;
  --primary-light: #FFA789;
  --primary-accent: #E36152;
  --text-on-primary: #fff;
  --accent-color: #FFA385;
  --secondary: #121F36;
  --secondary-dark: #121F36;
  --secondary-darker: #0C1525;
  --secondary-light: #313C50;
  --secondary-accent: #F7C700;
  --text-on-secondary: #FFFFFF;
  --secondary-background: rgba(49, 60, 80, 0.8);
  --background: linear-gradient(#121f36, #050910);
  --text-color: rgba(255, 255, 255, .6);
  --text-title-color: var(--text-on-primary);
  --text-second-color: var(--gray-dark);
  --text-hover-color: var(--primary);
  --bg-element: var(--secondary-dark);
  --element-border-color: var(--gray-light);
  --separator-color: var(--gray-lighter); }

:root {
  --bynd-aside-width: 250px;
  --shadow-0: 0 0 0 1px transparent;
  --shadow-1: 0 0 0 1px rgba(0, 0, 0, .06);
  --shadow-2: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 1px 0 rgba(0, 0, 0, .04);
  --shadow-3: 0 2px 4px 0 rgba(0, 0, 0, .1), 0 0 2px 0 rgba(0, 0, 0, .06);
  --shadow-4: 0 4px 8px 0 rgba(0, 0, 0, .1), 0 2px 4px 0 rgba(0, 0, 0, .06);
  --shadow-5: 0 8px 16px 0 rgba(0, 0, 0, .08), 0 4px 8px 0 rgba(0, 0, 0, .06);
  --shadow-6: 0 16px 32px -2px rgba(0, 0, 0, .1), 0 8px 16px -2px rgba(0, 0, 0, .08);
  --shadow-7: 0 32px 64px -4px rgba(0, 0, 0, .12), 0 12px 24px -2px rgba(0, 0, 0, .06);
  --shadow-8: 0 48px 96px -8px rgba(0, 0, 0, .16), 0 24px 48px -4px rgba(0, 0, 0, .08);
  --duration-instantly: 0s;
  --duration-quickly: 0.15s;
  --color-black: #000;
  --color-white: #fff;
  --color-blue-0: #f0f6ff;
  --color-blue-10: #e3edff;
  --color-blue-20: #cddfff;
  --color-blue-30: #b2ceff;
  --color-blue-40: #97bdff;
  --color-blue-50: #7cabff;
  --color-blue-60: #639bff;
  --color-blue-70: #4d8dff;
  --color-blue-80: #3880ff;
  --color-blue-90: #1b6dff;
  --color-blue-100: #0054e9;
  --color-gray-0: #f3f3f3;
  --color-gray-10: #e4e4e4;
  --color-gray-20: #c8c8c8;
  --color-gray-30: #aeaeae;
  --color-gray-40: #959595;
  --color-gray-50: #818181;
  --color-gray-60: #6d6d6d;
  --color-gray-70: #5f5f5f;
  --color-gray-80: #474747;
  --color-gray-90: #2f2f2f;
  --color-gray-100: #141414;
  --color-carbon-0: #eef1f3;
  --color-carbon-10: #d7dde2;
  --color-carbon-20: #b4bcc6;
  --color-carbon-30: #98a2ad;
  --color-carbon-40: #7d8894;
  --color-carbon-50: #677483;
  --color-carbon-60: #556170;
  --color-carbon-70: #434f5e;
  --color-carbon-80: #35404e;
  --color-carbon-90: #222d3a;
  --color-carbon-100: #03060b;
  --color-indigo-0: #fbfbfd;
  --color-indigo-10: #f6f8fc;
  --color-indigo-20: #e9edf3;
  --color-indigo-30: #dee3ea;
  --color-indigo-40: #ced6e0;
  --color-indigo-50: #b2becd;
  --color-indigo-60: #92a0b3;
  --color-indigo-70: #73849a;
  --color-indigo-80: #445b78;
  --color-indigo-90: #2d4665;
  --color-indigo-100: #001a3a;
  --color-green-0: #f1fdf5;
  --color-green-10: #deffe7;
  --color-green-20: #c7fbd5;
  --color-green-30: #a7f1bb;
  --color-green-40: #80e89d;
  --color-green-50: #62e085;
  --color-green-60: #4ada71;
  --color-green-70: #2dd55b;
  --color-green-80: #17c948;
  --color-green-90: #00ba33;
  --color-green-100: #00a52d;
  --color-lime-0: #f5fff0;
  --color-lime-10: #ebfee3;
  --color-lime-20: #ddfcd0;
  --color-lime-30: #cffbbc;
  --color-lime-40: #bbf9a2;
  --color-lime-50: #a3f581;
  --color-lime-60: #8bf35f;
  --color-lime-70: #64ec44;
  --color-lime-80: #4ddf2b;
  --color-lime-90: #3ad515;
  --color-lime-100: #27c100;
  --color-lavender-0: #f7f8ff;
  --color-lavender-10: #e6ebff;
  --color-lavender-20: #ced9ff;
  --color-lavender-30: #b6c6ff;
  --color-lavender-40: #9fb5ff;
  --color-lavender-50: #8aa4ff;
  --color-lavender-60: #7493ff;
  --color-lavender-70: #597eff;
  --color-lavender-80: #3c67ff;
  --color-lavender-90: #194bfd;
  --color-lavender-100: #0033e8;
  --color-purple-0: #f4f4ff;
  --color-purple-10: #e9eaff;
  --color-purple-20: #d0d2ff;
  --color-purple-30: #b6b9f9;
  --color-purple-40: #9a99fc;
  --color-purple-50: #8482fb;
  --color-purple-60: #786df9;
  --color-purple-70: #6e5afd;
  --color-purple-80: #6030ff;
  --color-purple-90: #4712fb;
  --color-purple-100: #3400e6;
  --color-pink-0: #ffeff5;
  --color-pink-10: #ffe3ed;
  --color-pink-20: #ffd8e5;
  --color-pink-30: #ffc9db;
  --color-pink-40: #ffb6d0;
  --color-pink-50: #ff99bd;
  --color-pink-60: #ff80ac;
  --color-pink-70: #ff6098;
  --color-pink-80: #fb4082;
  --color-pink-90: #ec216a;
  --color-pink-100: #da0d56;
  --color-red-0: #fff1f3;
  --color-red-10: #ffe6e8;
  --color-red-20: #ffcfd3;
  --color-red-30: #feb7bc;
  --color-red-40: #fc9aa2;
  --color-red-50: #f9838c;
  --color-red-60: #f56570;
  --color-red-70: #f24c58;
  --color-red-80: #ef3442;
  --color-red-90: #e21827;
  --color-red-100: #d0000f;
  --color-orange-0: #fff5f0;
  --color-orange-10: #ffede6;
  --color-orange-20: #ffdfd1;
  --color-orange-30: #ffd0bc;
  --color-orange-40: #ffc0a5;
  --color-orange-50: #ffaf8c;
  --color-orange-60: #ff9b70;
  --color-orange-70: #ff8753;
  --color-orange-80: #ff7336;
  --color-orange-90: #ff5b13;
  --color-orange-100: #eb4700;
  --color-yellow-0: #fffbef;
  --color-yellow-10: #fff8e2;
  --color-yellow-20: #fff4d1;
  --color-yellow-30: #ffefbd;
  --color-yellow-40: #ffe9a3;
  --color-yellow-50: #ffe080;
  --color-yellow-60: #ffd75a;
  --color-yellow-70: #ffce31;
  --color-yellow-80: #ffc409;
  --color-yellow-90: #f4b100;
  --color-yellow-100: #eaa100;
  --color-aqua-0: #f0fff9;
  --color-aqua-10: #e6fff6;
  --color-aqua-20: #ceffed;
  --color-aqua-30: #b7fce3;
  --color-aqua-40: #93f9d5;
  --color-aqua-50: #79f5c9;
  --color-aqua-60: #59f0ba;
  --color-aqua-70: #38e9aa;
  --color-aqua-80: #1ae19a;
  --color-aqua-90: #00d287;
  --color-aqua-100: #00ba78;
  --color-teal-0: #eefeff;
  --color-teal-10: #dffdff;
  --color-teal-20: #d0fdff;
  --color-teal-30: #bbfcff;
  --color-teal-40: #a2fcff;
  --color-teal-50: #8bfbff;
  --color-teal-60: #73f6fb;
  --color-teal-70: #55ecf2;
  --color-teal-80: #35e2e9;
  --color-teal-90: #1bd2d9;
  --color-teal-100: #00b9c0;
  --color-cyan-0: #f3faff;
  --color-cyan-10: #e8f5ff;
  --color-cyan-20: #d3ecff;
  --color-cyan-30: #bfe4ff;
  --color-cyan-40: #a7daff;
  --color-cyan-50: #8dcfff;
  --color-cyan-60: #77c6ff;
  --color-cyan-70: #62bdff;
  --color-cyan-80: #46b1ff;
  --color-cyan-90: #24a3ff;
  --color-cyan-100: #0091fa; }

html, body {
  min-height: 100%;
  overflow-x: hidden;
  padding: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  height: 100%;
  margin: 0;
  font-size: 1rem; }

html {
  background: var(--background); }

main-layout {
  height: 100%;
  width: 100%;
  display: grid;
  margin: 0;
  padding: 0; }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-o-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-moz-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-ms-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-o-keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-moz-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-ms-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-o-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  50% {
    opacity: 1; } }

@-webkit-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

@-moz-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

@-ms-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

@-o-keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

@keyframes zoomOut {
  0% {
    opacity: 1; }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    -moz-transform: scale3d(0.3, 0.3, 0.3);
    -ms-transform: scale3d(0.3, 0.3, 0.3);
    -o-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3); }
  100% {
    opacity: 0; } }

.beyond-alert-dialog.beyond-alert-dialog-centered .alert-dialog-content, .beyond-alert-dialog.beyond-alert-dialog-centered .actions {
  display: grid;
  justify-content: center; }

.beyond-alert-dialog .alert-dialog-content {
  padding-top: 20px; }

.beyond-alert-dialog .actions {
  border-top: 1px solid var(--gray-lighter);
  margin-top: 15px;
  display: grid;
  justify-content: end;
  padding: 15px 0 0; }
  .beyond-alert-dialog .actions .beyond-button {
    margin: 0; }

.beyond-element-modal .close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: none;
  display: inline-block;
  fill: var(--gray);
  color: var(--gray);
  transition: all 100ms ease-in;
  outline: none;
  cursor: pointer; }
  .beyond-element-modal .close-icon:hover, .beyond-element-modal .close-icon:focus {
    fill: var(--gray-darker);
    color: var(--gray);
    transition: all 100ms ease-in; }
  .beyond-element-modal .close-icon svg {
    height: 10px;
    width: 10px; }

.beyond-confirm-dialog.beyond-confirm-dialog-centered {
  justify-content: center;
  text-align: center; }
  .beyond-confirm-dialog.beyond-confirm-dialog-centered .confirm-dialog-content, .beyond-confirm-dialog.beyond-confirm-dialog-centered .actions {
    display: grid;
    justify-content: center; }

.beyond-confirm-dialog .confirm-dialog-content {
  padding-top: 20px; }

.beyond-confirm-dialog .actions {
  border-top: 1px solid var(--gray-lighter);
  padding: 15px 0 0;
  margin-top: 15px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-content: end; }
  .beyond-confirm-dialog .actions .beyond-button {
    margin: 0; }

.beyond-element-modal.md .modal-content {
  width: 70%; }

.beyond-element-modal.lg .modal-content {
  width: 90%; }

@media (max-width: 600px) {
  .beyond-element-modal .modal-content, .beyond-element-modal.md .modal-content, .beyond-element-modal.lg .modal-content {
    width: 90%; } }

@media (max-width: 900px) {
  .beyond-element-modal.md {
    min-width: 80%; }
  .beyond-element-modal.lg {
    width: 90%; } }

body.body-beyond-modal-opened {
  height: 100vh;
  overflow-y: hidden;
  padding-right: 15px;
  /* Avoid width reflow */ }

.beyond-element-modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4); }
  .beyond-element-modal.show-modal {
    display: block;
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    padding: 20px; }
  .beyond-element-modal .modal-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    -webkit-animation-name: zoomIn;
    -moz-animation-name: zoomIn;
    -ms-animation-name: zoomIn;
    -o-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 300ms;
    -moz-animation-duration: 300ms;
    -ms-animation-duration: 300ms;
    -o-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .beyond-element-modal.modal-hidden .modal-wrapper {
    -webkit-animation-name: zoomOut;
    -moz-animation-name: zoomOut;
    -ms-animation-name: zoomOut;
    -o-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -ms-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -webkit-animation-duration: 200ms;
    -moz-animation-duration: 200ms;
    -ms-animation-duration: 200ms;
    -o-animation-duration: 200ms;
    animation-duration: 200ms;
    -webkit-animation-delay: 0s;
    -moz-animation-delay: 0s;
    -ms-animation-delay: 0s;
    -o-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; }
  .beyond-element-modal .modal-content {
    position: relative;
    color: #000;
    background: #fff; }

.beyond-element-modal.image__modal {
  padding: 0; }
  .beyond-element-modal.image__modal .modal-content {
    width: 100%;
    max-width: 1200px;
    background: none; }
    @media (max-width: 600px) {
      .beyond-element-modal.image__modal .modal-content .modal-content {
        width: 90%;
        margin: auto; } }
  .beyond-element-modal.image__modal .close-icon {
    background: var(--primary);
    color: var(--text-on-primary);
    padding: 8px 12px;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 50%;
    transition: all 200ms ease-in;
    right: -15px;
    top: -15px; }
    .beyond-element-modal.image__modal .close-icon:hover {
      background: var(--primary-dark); }
  .beyond-element-modal.image__modal .beyond-element-image {
    height: 100%;
    margin: 0; }
    .beyond-element-modal.image__modal .beyond-element-image img {
      height: 100%;
      width: 100%; }
