.cards__container {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;
  padding: 2rem;
  width: calc(100% - 4rem);
}
.cards__container .accent {
  color: var(--accent-color);
}
.cards__container .docs__card {
  text-decoration: none;
  background: var(--app-element-surface);
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  border-radius: var(--border-radius-base);
  justify-content: space-between;
  transition: all 200ms ease-in;
}
.cards__container .docs__card .beyond-element-image img {
  height: 50px;
  aspect-ratio: 1/1;
}
.cards__container .docs__card:hover {
  background: var(--app-element-hover-surface);
  padding-left: 1.5rem;
  padding-right: 3.5rem;
}
.cards__container .docs__card h3 {
  padding: 0;
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
  background: var(--app-dark-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 800px) {
  .cards__container {
    grid-auto-flow: row;
  }
}
@media (min-width: 801px) and (max-width: 1200px) {
  .cards__container {
    grid-gap: 1rem;
  }
  .cards__container .docs__card {
    padding: 1rem;
  }
}
@media (min-width: 1000px) {
  .cards__container {
    padding: 2rem 0;
  }
}
.is-floating, .header__animation__container .header__animation__front {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes floating {
  from {
    transform: translate(0, 0px);
  }
  15% {
    transform: translate(-5px, -5px);
  }
  30% {
    transform: translate(-5px, 0px);
  }
  60% {
    transform: translate(0px, 5px);
  }
  90% {
    transform: translate(5px, 0);
  }
  to {
    transform: translate(0, 0px);
  }
}
.header__animation__container {
  position: relative;
}
.header__animation__container .animation__bg {
  position: absolute;
  right: 0;
}
.header__animation__container .header__animation__front {
  position: absolute;
  left: 0;
  top: 0;
  height: 90%;
  width: 90%;
  margin: auto;
}
@media (max-width: 800px) {
  .header__animation__container .header__animation__front {
    margin-left: -10%;
    bottom: -20%;
    width: 120%;
  }
}
header.home__header .header__content {
  max-width: 700px;
}
header.home__header .header__content .main__title {
  padding: 4rem 0;
}
header.home__header .header__content .pre__title {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-26)/var(--unnamed-line-spacing-30) var(--unnamed-font-family-rubik);
  letter-spacing: var(--unnamed-character-spacing--0-26);
  color: var(---primary-light-color-e58165);
}
header.home__header .header__content h1 {
  margin: 5px 0;
  text-align: left;
  font-size: 43px;
  font-family: var(--title-font);
  letter-spacing: -0.43px;
  color: #FFFFFF;
  opacity: 1;
}
header.home__header .header__content h1 span {
  background: var(--app-primary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header.home__header .header__content h1 strong {
  padding: 1.2rem 0 0;
  display: flex;
  color: var(--primary-light) !important;
}
@media (max-width: 800px) {
  header.home__header .header__content h1 strong {
    font-size: 2.2rem;
  }
}
header.home__header .header__content .header__description {
  font-size: 1.3rem;
}

.home__header {
  z-index: 2;
}
.home__header .header-content__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}
@media (max-width: 900px) {
  .home__header .header-content__container {
    grid-template-columns: 60% auto;
  }
}
@media (max-width: 400px) {
  .home__header .header-content__container {
    grid-template-columns: 1fr;
  }
}

header.home__header {
  z-index: -1;
  aspect-ratio: 16/6;
  margin: 1rem auto auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-family: var(--header-font);
}
@media (max-width: 800px) {
  header.home__header {
    aspect-ratio: 9/16;
    align-items: center;
    justify-items: center;
  }
}
@media (min-width: 801px) {
  header.home__header {
    aspect-ratio: 16/4;
  }
}
@media (max-width: 900px) and (min-height: 600px) {
  header.home__header {
    aspect-ratio: 16/4;
    max-height: 700px;
  }
}
@media (min-width: 1400px) {
  header.home__header {
    aspect-ratio: 16/4;
  }
}
.beyond__icon {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100px;
  right: 100px;
  fill: var(--app-icon-bg);
  opacity: 0.6;
  z-index: -1;
}
@media (max-width: 900px) and (min-height: 600px) {
  .beyond__icon {
    top: -100px;
    right: -70px;
  }
}
@media (min-width: 901px) and (max-width: 1200px) {
  .beyond__icon {
    top: -20px;
    right: -50px;
  }
}
.header__circle span {
  position: absolute;
  left: -30vh;
  top: 10vh;
  z-index: -11;
  border-radius: 50%;
  background: var(--app-animation-color);
  height: 400px;
  width: 400px;
  margin: auto;
  animation: pulse 4.5s linear infinite;
  animation-delay: calc(0.5s * var(--i));
  transition: all 300ms ease-in;
}

.fade-out {
  animation: fadeOutAnimation ease 300ms forwards;
}

.fade-in {
  animation: fadeInAnimation ease 300ms forwards;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  90% {
    transform: scale(3);
    opacity: 0.75;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}
@keyframes fadeInAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
header.header__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
  margin: 1rem auto;
}
header.header__section h3 {
  font-size: 2.5rem;
  text-align: center;
  margin: 0 0 1rem;
  background: var(--app-secondary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header.header__section .subtitle {
  font-size: 1.2rem;
  text-align: center;
}
@media (max-width: 480px) {
  header.header__section {
    margin: 1rem auto;
  }
  header.header__section h3 {
    font-size: 1.5rem;
  }
}
.link-more {
  display: flex;
  align-self: end;
  margin-top: 1rem;
  justify-self: end;
  text-decoration: none;
  justify-content: end;
  align-content: end;
  transition: all 150ms linear;
}
.link-more:after {
  display: flex;
  content: "-->";
  margin: auto 5px;
}
.link-more:hover {
  margin-right: 10px;
  font-weight: bolder;
}
.page-section {
  margin: 2rem auto;
  padding: 2rem;
}
.page-section.primary-surface {
  background: var(--app-element-surface);
}
.page-section .content {
  padding: 2rem;
}
.page-section .flex-center-v {
  align-items: center;
  display: flex;
}
.page-section .top-img {
  margin-bottom: -100px;
}
.page-section h3 {
  padding: 0;
  margin: 0.5rem 0 1rem;
  font-size: 1.5rem;
  background: var(--app-dark-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.page-section h3.secondary {
  background: var(--app-secondary-text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.debug {
  border: 1px solid red;
}
.realtime-section .top-img .beyond-element-image {
  min-height: 150px;
}
.realtime-section .top-img .beyond-element-image img {
  object-fit: contain;
  min-height: 150px;
  object-position: center;
}
@media (max-width: 600px) {
  .realtime-section .top-img {
    width: 100% !important;
    padding: 0;
    margin: 0;
  }
  .realtime-section .content {
    padding-top: 0 !important;
  }
}
.docs-home-slider {
  padding: 4rem 0;
}
.docs-home-slider .beyond-element-image {
  position: relative;
  aspect-ratio: 4/3;
}
.docs-home-slider .beyond-element-image img {
  width: 100%;
}
.docs-home-slider .swiper-slide {
  transition: all 200ms linear;
}
.docs-home-slider .swiper-slide-active {
  transform: scale(1.2);
  transition: all 200ms linear;
  z-index: 10;
}
@media (min-width: 400px) {
  .docs-home-slider .swiper-slide-active {
    transform: scale(1.5);
  }
}
.main__home__content {
  z-index: 2;
}

a {
  color: var(--app-link-color);
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
  position: relative;
}
a:not(.link-more) {
  text-underline-offset: 1.5px;
  text-decoration: underline;
}
a:hover {
  color: var(--app-link-hover-color);
}

.text-center {
  text-align: center;
}

.banner__icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.banner__icons .beyond-icon {
  height: 45px;
  width: 45px;
}
@media (max-width: 480px) {
  .banner__icons .beyond-icon {
    height: 50px;
    width: 50px;
  }
}

.mv-200 {
  margin: 14rem auto;
}
@media (min-width: 320px) {
  .mv-200 {
    margin: 7rem auto;
  }
}

.page__footer {
  padding: 2rem;
  border-top: 1px solid var(--app-element-border-color-1);
  width: calc(100% - 4rem);
  max-width: 1376px;
  margin: auto;
}

@media (max-width: 768px) {
  .hidden-mobile {
    display: none;
  }
}

.technologies__section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.pre__title {
  display: block;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: lighter;
  color: var(--accent-color);
  margin-bottom: 0.5rem;
}

